* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    height: 70%;
    margin-top: 25px;
}

body {
    background-color: #ffffff;
    color: #580113;
}

.row {
    max-width: 1280px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.nav {
    width: 100%;
    position: fixed;
    background-color: #fcfcfc;
    z-index: 255;
}

.nav-links {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    padding: 35px 0;
    list-style: none;
    text-decoration: none;
}

.nav-links a {
    color: #BF0402;
}

.dropdown {
    position: relative;
    list-style: none;
    text-decoration: none;
}

.dropdown a {
    color: #BF0402;
}

.portfolio-content {
    visibility: hidden;
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 3px 6px;
    text-decoration: none;
    list-style: none;
}

.dropdown:hover .portfolio-content {
    background-color: #fff;
    visibility: visible;
    display: block;
}

.portfolio-content li {
    width: 180px;
    border-top: solid 1px #efefef;
    transition: background 0.3s;
}

.portfolio-content li:hover,
.portfolio-content li:active {
    background-color: #f6f6f6;
}

.portfolio-content a {
    display: block;
    width: 180px;
    padding: 12px 15px;
    color: #BF0402;
    font-size: 15px;
}

.nav-links a {
    padding-right: 20px;
    text-decoration: none;
}

@media screen and (max-width: 1920px) {

    footer {
        background-color: #fcfcfc;
        width: 100%;
    }

    footer ul li {
        list-style: none;
        margin-left: 3%;
    }

    footer li {
        display: flex;
        justify-content: flex-start;
    }

    footer a {
        text-decoration: none;
        color: #BF0402;
        padding-bottom: 7px;
    }

    .flength {
        width: 100%;
    }

    .flex-cr {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .container {
        position: relative;
        text-align: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(./images/jmain.jpg);
        height: 89vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container h2 {
        position: absolute;
        top: 40vh;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, .66);
        padding: 10px 20px;
    }

    .empty {
        background-color: red;
    }

    .header-img {
        height: 900px;
        width: 100%;
    }

    div p.am {
        text-indent: 40px;
        width: 60%;
        padding: 80px;
    }

    div h2 {
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }

    .listyle {
        list-style: none;
        display: flex;
        justify-content: center;
        padding-right: 3%;
    }

    div.listyle ul {
        list-style: none;
    }

    div.listyle ul {}

    .info {
        padding-left: 30px;
        padding-bottom: 2%;
    }

    .container1 {
        position: relative;
        text-align: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(./images/aboutmehead.jpg);
        height: 89vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container1 h2 {
        position: absolute;
        top: 40vh;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, .66);
        padding: 10px 20px;
    }

    .container2 {
        position: relative;
        text-align: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(./images/resumehead.jpg);
        height: 89vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container2 h2 {
        position: absolute;
        top: 40vh;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, .66);
        padding: 10px 20px;
    }

    .container3 {
        position: relative;
        text-align: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(./images/webapphead.jpg);
        height: 89vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container3 h2 {
        position: absolute;
        top: 40vh;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, .66);
        padding: 10px 20px;
    }

    .container4 {
        position: relative;
        text-align: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(./images/writinghead.jpg);
        height: 89vh;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    .container4 h2 {
        position: absolute;
        top: 40vh;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, .66);
        padding: 10px 20px;
    }

    .container5 {
        position: relative;
        text-align: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(./images/photohead.jpg);
        height: 89vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container5 h2 {
        position: absolute;
        top: 40vh;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, .66);
        padding: 10px 20px;
    }

    .container6 {
        position: relative;
        text-align: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(./images/contacthead.jpg);
        height: 89vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container6 h2 {
        position: absolute;
        top: 40vh;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, .66);
        padding: 10px 20px;
    }

    .display {
        display: none;
    }

    .flex {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .deimg {
        height: 30vw;
        padding-top: 2%;
        ;
    }

    .deimg2 {
        width: 45vw;
        padding-top: 5%;
    }

    .deimg4 {
        height: 45vw;
        padding-top: 10px;
    }

    .deimg3 {
        height: 35vw;
        padding-top: 5%;
    }

    .writetext {
        width: 60%;
        margin: 0 auto;
        padding-top: 10px;
    }

    .read {
        margin: auto 0;
        margin-left: 45%;
    }

    p {
        text-indent: 40px;
    }

    .words {
        margin-left: 15%;
        padding-bottom: 20px;
        font-size: 17px;
    }

    .webtext {
        width: 80%;
        padding-bottom: 15px;
        padding-top: 10px;
    }

    .size {
        font-size: 22px;
    }

    .pi {
        display: block;
        width: 100%;
    }

    .mainsize {
        max-width: 1200px;
        margin: 0 auto;
        height: auto;
        padding-top: 2%;
    }

    .imgbutton {
        border-style: groove;
        color: #FCFCFC;
        background-color: #050203;
        width: 40px;
    }

    .carousel-container {
        display: flex;
    }

    .contacth {
        margin-left: 5%;
    }

    .thanks {
        display: flex;
        justify-content: center;
        width: 40%;
        margin-left: 33%;
    }

    .pwords {
        width: 40%;
        margin-left: 33%;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .clientForm {
        margin-top: 10px;
        margin-left: 44%;
        padding-bottom: 10px;
    }

    .lor {
        width: 100%;
    }

    div.lor h3 {
        margin-left: 44%;
    }

    .letters {
        width: 40%;
        margin-left: 30%;
        padding-bottom: 15px;
    }

    div.letters a {
        text-decoration: none;
        color: #2189C6;
        border: solid 1px;
        border-bottom-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    div.letters a:hover {
        color: #BF0402;
    }

    form button {
        color: #2189C6;
        background-color: #050203;
    }

    form button:hover {
        color: #BF0402;
    }

    p.words a {
        text-decoration: none;
        color: #2189C6;
    }

    .read {
        text-decoration: none;
        color: #2189C6;
        border: solid 1px;
        border-bottom-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .read:hover {
        color: #BF0402;
    }

    .writeimg {
        width: 100%;
    }

    .pom {
        height: 38vh;
        width: 27%;
        padding-top: 15px;
    }
}

@media screen and (max-width: 1024px) {
    footer {
        width: 100%;
    }

    div.lor h3 {
        margin-left: 38%;
    }

    .letters {
        width: 50%;
        margin-left: 25%;
        padding-bottom: 15px;
    }

    .info {
        padding-left: 5%;
        padding-bottom: 2%;
    }

    div > div > ul {
        padding-left: 3%;
    }

    .size {
        font-size: 18px;
    }

    .pom {
        width: 38%;
        height: 37vh;
        padding-top: 15px;
    }
}

@media screen and (max-width: 480px) {
    footer {
        width: 100%;
        font-size: 12px;
    }

    div p.am {
        text-indent: 30px;
        width: 49%;
        padding: 10px;
    }

    .nav-links {
        width: 85%;
    }

    .logo {
        height: 7vh;
    }

    div.lor h3 {
        margin-left: 23%;
    }

    .letters {
        width: 80%;
        margin-left: 12%;
        padding-bottom: 15px;
    }

    .pom {
        height: 26vh;
    }

    .deimg {
        width: 90%;
        height: 100%;
        padding-top: 2%;
        ;
    }

    .deimg2 {
        width: 90%;
        padding-top: 5%;
        max-width:
    }

    .deimg3 {
        height: 10%;
        width: 90%;
        padding-top: 5%;
    }

    .deimg4 {
        height: 100%;
        width: 90%;
        padding-top: 10px;
    }

    .writeimg {
        width: 100%;
    }

    .words {
        font-size: 16px;
    }

    .pwords {
        width: 80%;
        margin-left: 12%;
        padding-top: 8px;
        padding-bottom: 10px;
    }

    .imgbutton {
        width: 75px;
    }

    .thanks {
        display: flex;
        justify-content: center;
        width: 70%;
        margin-left: 20%;
    }

    .clientForm {
        margin-top: 10px;
        margin-left: 33%;
        padding-bottom: 10px;
    }

    div.listyle ul {
        list-style: none;
    }

    .info {
        padding-bottom: 6%;
    }
    
    .text {
        padding-top: 10px;
    }
    
    .words {
        margin-left: 10%;
    }
    
}
